.box {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}

.card {
  width: 300px;
  border-radius: 10px;
  transition: 0.3s;
  transform: rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
}

.card img {
  width: 100%;
  height: auto;
  border-radius: inherit;
}

.card:hover {
  box-shadow: -3px -3px 10px #54a29e, 3px 3px 10px #a79d66;
}
